html {
     height: 100%; /* makes sure our HTML takes up 100% of the browser window */
     font-size: 100%;
 }

body {
    /*background-image: url(../assets/images/Wooden-Backdrop.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;*/
    font-family: 'PT Sans Caption', 'sans-serif;'; /* sets our font to the "Open Sans" typeface */
    color: ghostwhite; /* sets the text color to white */
    min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */ 
}
 
a {
    text-decoration: none;
    color:black; /* nav text color */
}

/*add a wrapper to help with dynamically resizing*/
#wrapper {
    margin: 0 auto;
    /*max-width: 1200px;
    min-width: 500px;*/
}

.main-header nav {
     /* the silver bar at the top of page */
     padding: .75rem;
     background-color: #DFE3ED;
     height: 18px;
     border-radius: 15px;
     opacity: .85;
     width: 80%;
     margin-left: 20px;
     
     /* add a position to keep bar at top of page */
     
    
 }

.main-header nav ul {
    list-style: none;  /* removes bullets in a list */
    margin: 1px;
    font-size: 1.2rem;
    font-family: 'PT Sans Caption';
    margin: -.4rem;
    position: absolute;
    
    
}

.main-header nav ul li {
    /* style the list items */
    float: center;
    display: inline;
    padding: inherit;
    
}

.main-header nav ul li:hover {
    cursor:pointer;
}


.main-header nav a:link {
    display: inline-block;
    padding: 5px; 35px;
    height: 28px;
}

.container {
    font-family: 'Kaushan Script', cursive;
    padding: 30px 30px 30px 30px;
    text-align: center;
}

#welcome {
    position: absolute;
    margin: 23px 5px 5px 32px;
    opacity:.9;
    text-align: left;
}

.about-me-paragraph {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8;
    opacity:.9;
    text-align: left;
}

.ion-headphone,
.ion-android-laptop,
.ion-model-s,
.ion-android-boat,
.ion-android-bicycle {
    color:rgb(10,135,245);
    opacity:.8;
    font-size: 3rem;
    padding: 18px 24px 18px 24px;
    display: inline-block
/*---figure out how to center icons----*/
}

/*----parallax start---*/
.parallax {
    background: url(../assets/images/dark-wood.jpg) repeat fixed 100%;
}
.parallax-inner {
    padding-bottom: 50%;
}
/*----parallax end----*/

.portfolio {
    display: flex;
    flex-direction:column;
    text-align: center;
    font-size:1.8rem;
    
}

.portfolio .bloc-jams-pic {
    height: 60%;
    width:60%;
    cursor:pointer;
    padding: 7%;    
}
.portfolio .coming-soon {
    height: 50%;
    width:50%;
    padding: 7%;
}
/*----parallax start---*/
.parallax-2 {
    background: url(../assets/images/abstract-background.jpeg)
}
.parallax-inner-2 {
    padding-top: 12%;
    padding-bottom: 15%;
}
/*----parallax end---*/


.main-footer {
    text-align: center;
}
.contact-me { /*silve footer bar */
    font-size: 1.4rem;
    color: #1A1B1F;
    background-color: #DFE3ED;
    padding: .6rem;
    height: 16px;
    width: 140px;
    border-radius: 15px;
    opacity: .85;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    margin-left: 20px;
}
.main-footer .ion-at, .ion-social-github, .ion-iphone{
    font-size: 3rem;
    color: rgb(10,135,245);
    opacity:.8;
    display:inline-block;
    padding: 4%;
}
/*----parallax start---*/
.parallax-3 {
    background: url(../assets/images/dark-wood.jpg) repeat fixed 100%;
}
.parallax-inner-3 {
    padding-top: 5%;
    padding-bottom: 5%;
}
/*----parallax end----*/




