html {
     height: 100%; /* makes sure our HTML takes up 100% of the browser window */
     font-size: 100%;
 }

body {
    font-family: 'PT Sans Caption', 'sans-serif;'; /* sets our font to the "Open Sans" typeface */
    color: ghostwhite; /* sets the text color to white */
    min-height: 100%;         /* says the height of the body must be, at minimum, 100% of the window */ 
}
 
a {
    text-decoration: none;
    color:black; /* nav text color */
}

/*add a wrapper to help with dynamically resizing*/
#wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 90%;
    min-width: 500px;
}

.main-header nav {
     /* the silver bar at the top of page */
     padding: .75rem;
     background-color: #DFE3ED;
     height: 18px;
     border-radius: 15px;
     opacity: .85;
     width: 84%;
     margin-left: 7%;
     position: fixed;
 }

.main-header nav ul {
    /* removes bullets in a list */
    list-style: none;  
    margin: 1px;
    font-size: 1.2rem;
    font-family: 'PT Sans Caption';
    margin: -.4rem;
    
}

.main-header nav ul li {
    /* style the list items */
    display: inline;
    margin:  0px 20px;
}

.main-header nav ul li:hover {
    cursor:pointer;
}


.main-header .highlight {
    background-color: rgb(10,135,245);
    border-radius: 15px;
    opacity:.9;
}

.main-header nav a:link {
    display: inline-block;
    padding: 5px; 35px;
    height: 21px;
}

/*
.main-header #progress-bar-container {
    text-align: right;
    height: 5px;
    width: 50px;
    
}
*/

progress {
  /* Positioning */
  position: fixed;
  top: 1.5%;
  right:10%;
    
  /* Dimensions */
  width: 27%;
  height: 15px;
  border-radius: 10px; 

  /* Reset the appearance */
/*
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
*/

    
    /* the default progress bar color. */
    progress[value]::-webkit-progress-bar{
  background-color: #eee;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
    
    /* the color of the (page scrolled/position bar) */
    -webkit-progress-value {
  background-color: rgb(10,135,245);
  border-radius: 10px;
}

    
  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
/*  color: black;*/
}

.container {
    font-family: 'Kaushan Script', cursive;
    padding: 30px 30px 30px 30px;
    text-align: center;
}

#welcome {
    position: absolute;
    margin: 58px 5px 5px 32px;
    opacity:.9;
    text-align: left;
}

.about-me-paragraph {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8;
    opacity:.9;
    text-align: left;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content:center;
   

}

.ion-headphone,
.ion-android-laptop,
.ion-model-s,
.ion-android-boat,
.ion-android-bicycle{
    color:rgb(10,135,245);
    opacity:.8;
    font-size: 3rem;
    padding: 18px 24px 18px 24px;
    margin:20px;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
}


/*----parallax start---*/
.parallax {
    background: url(../assets/images/dark-wood.jpg) repeat fixed 100%;
}
.parallax-inner {
    padding-bottom: 50%;
}
/*----parallax end----*/

.portfolio {
    float: none;
    text-align: center;
    font-size:1.8rem; 
    display: block;
}


.portfolio .bloc-jams-container {
    margin: 0 auto;
    height: 350px;
    width: 650px;
    background-image: url(../assets/images/bloc-jams.jpg);
    background-size: 100%;
    
}

/* this .text opacity: 0 will make the default text invisible (most transparent), until the hover element is added with opacity of 1 (to show text). */
.text {
    opacity:0;
    height: 350px;
    width: 650px;
}

.bloc-jams-pic:hover .text {
    opacity: 1;
    color:ghostwhite;
    font-weight:700;
    display: flex;
    align-items:center;
}


.portfolio .container-resizing {
    margin: 0 auto;
    height: 50%;
    width: 50%;
}

.coming-soon-waypoint {
    padding: 7%;
    opacity: 0;
    transition: all 500ms ease-in;
}

.coming-soon {
    margin: 0 0 10% 0;
    height:100%;
    width:100%;
}

.js-coming-soon {
    opacity: 1;
    
}

/*----parallax start---*/
.parallax-2 {
    background: url(../assets/images/abstract-background.jpeg)
}
.parallax-inner-2 {
    padding-top: 12%;
    padding-bottom: 15%;
}
/*----parallax end---*/


.main-footer {
    text-align: center;
}
#contact-me { /*silve footer bar */
    font-size: 1.4rem;
    color: #1A1B1F;
    background-color: #DFE3ED;
    padding: .6rem;
    height: 16px;
    width: 140px;
    border-radius: 15px;
    opacity: .85;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    margin-left: 7%;
}
.main-footer .ion-at, .ion-social-github, .ion-iphone{
    font-size: 3rem;
    color: rgb(10,135,245);
    opacity:.8;
    display:inline-block;
    padding: 4%;
}
/*----parallax start---*/
.parallax-3 {
    background: url(../assets/images/dark-wood.jpg) repeat fixed 100%;
}
.parallax-inner-3 {
    padding-top: 5%;
    padding-bottom: 5%;
}
/*----parallax end----*/




